<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
    <link rel="icon" type='image/x-icon' href='../static/favicon.ico' />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
    <title>HOME</title>
</head>
<body>
    <h1>Hello {{ data.title }} !</h1>
    #TODO here we can include explanations ...
    <form action="/file" enctype="multipart/form-data" method="post">
        <input name="file" type="file" accept="image/png,image/jpg,image/jpeg">
        <input type="submit">
    </form>
</body>
</html>
